{% extends '@Core/layout.html.twig' %}

{% block body %}

    <div id="activite">
        <!--parallax haut de page fix-->
        <div class="parallax-container parallax-custom">
            <div class="parallax">
                <div class="parallax">
                    <img src="{{ asset('bundles/core/img/background/pic1.jpg') }}">
                </div>
            </div>
            <div class="row page">
                <h1 class="col s12 center title">Nos activités</h1>
            </div>
        </div>


        <div class="container">
            <!--CONDITION POUR ADMIN-->
            {% if is_granted('ROLE_ADMIN')%}

                <div class="row">
                    <a class="offset-s4 offset-m4 col s4 m4  waves-effect teal z-depth-5 darken-4 btn align-center " href="#modal1">Ajouter une activité</a>
                </div>

                <!--MODAL D'AJOUT D'ACTIVITE-->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        {{ form_start(form) }}
                        <h4>l'activité est ...</h4>
                        <div class='row'>
                            <div class="input-field col s12">
                                {{ form_label (form.activiteType) }}
                                {{ form_widget (form.activiteType) }}
                                {{ form_errors (form.activiteType) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                {{ form_label (form.titre) }}
                                {{ form_widget (form.titre) }}
                                {{ form_errors (form.titre) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_label (form.contenu) }}
                                {{ form_widget (form.contenu) }}
                                {{ form_errors (form.contenu) }}
                            </div>
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <!--MODAL D'AJOUT D'ACTIVITE FIN-->
            {% endif %}
        </div>
        <!--CONDITION POUR ADMIN FIN-->


        <!--PARTIE VISIBLE PAR UTILISATEUR-->
        <div class="container activite">
            <!--BOUCLE QUI AFFICHE LES ACTIVITES-->

            {% for theme in themes %}

                <h1>{{ theme.nom }}</h1>
                <!--MODAL D'ACTIVITE-->
                <div class="container info">

                    {% for activite in theme.activites %}
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ asset('uploads/images/' ~ activite.picture.src ) }}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">
                                    {{ activite.titre }}
                                    <i class="material-icons right">add</i>
                                </span>
                                <p>
                                    <a  {# href="{{ path('nos_events.html.twig') }}" #}class="waves-effect teal z-depth-5 darken-4 btn">stages / cours </a>
                                </p>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">
                                    {{ activite.titre }}<i class="material-icons right">close</i>
                                </span>
                                <p>{{ activite.contenu }}</p>

                                <div class="row">
                                    <div class="col s6 m6">
                                        <a href="https://www.pierrerabhi.org/" class="waves-effect teal z-depth-5 darken-4 btn">à decouvrir</a>
                                    </div>
                                    <div class="offset-s3 offset-m3 col s3 m3">
                                        <a class="waves-effect teal z-depth-5 darken-4 btn" href="{{ path('core_contact') }}">En plus</a>
                                        <!-- Modal de renseignements fin-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if is_granted('ROLE_ADMIN')%}
                            <!-- button delete-->
                            <div class="row delete">
                                <div class=" col s2 m4">
                                    <a href="{{ path('core_activite_delete', {'id' :activite.id}) }}" class="waves-effect teal z-depth-5 darken-4 btn">delete</a>
                                </div>
                            </div>
                            <!-- button edit-->
                            <div class="row edit">
                                <div class=" col s2 m4">
                                    <a href="#modal{{ activite.id }}" class="waves-effect teal z-depth-5 darken-4 btn">Edit</a>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Modal Structure -->
                        <div id="modal{{ activite.id }}" class="modal">
                            <!-- On rend la vue editActivite a la vue de la modal -->
                            {{ render(controller('CoreBundle:Activite:editActivite',{ 'id': activite.id })) }}
                        </div>
                    {% endfor %}
                </div>



        <div class="parallax-container">
            <div class="parallax">
                <img src="{{ asset('bundles/core/img/background/pic1.jpg') }}">
            </div>
        </div>
            {% endfor %}
        </div>
    </div>
    {% include '@Core/pages/footer.html.twig' %}
{% endblock %}