{% extends '@Core/layout.html.twig' %}

{% block body %}
	<div id="booking">
		<div class="parallax-container">
			<div class="parallax"><img src="{{ asset('bundles/core/img/background/pic1.jpg') }}"></div>
			<div class="section header">
				<h3 class="header center title">Ajout d'une vente</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">

				<!-- Modal Trigger -->
				<a class="waves-effect waves-light btn btn_modal" href="#modaladdbooking">Ajouter un lieu</a>

				<!-- Modal Structure -->
				<div id="modaladdbooking" class="modal">
					<div class="modal-content">
                        {{ render(controller('CommerceBundle:BookingAdmin:addLieu')) }}
					</div>
				</div>
			</div>

			<div class="row">
				<h4 class="center-align text_perso">Lieu et date de la vente</h4>
				{{ form_start(formEvent, {'attr': {'id': 'formCreateEvent'}}) }}
				<div>
					{{ form_label(formEvent.lieu) }}
					{{ form_widget(formEvent.lieu) }}
					{{ form_errors(formEvent.lieu) }}
				</div>
				<div>
					{{ form_widget(formEvent.date,{'attr': {'class':'datepicker','placeholder': 'Cliquez pour Ouvrir'}} ) }}
					{{ form_errors(formEvent.date) }}
				</div>
				<div id="formCreateEventValidButton">
					{{ form_widget(formEvent.submit, {'attr': {'class': 'btn btn-primary'}}) }}
				</div>
				{{ form_end(formEvent) }}
			</div>

			<div id="divFormMarchandise" class="row">
				<div class="col s12">
					<h4>Marchandise</h4>
					{{ form_start(formMarchandise, {'attr': {'id': 'formaddMarchandise'}}) }}
					<div>
						{{ form_label(formMarchandise.prix) }}
						{{ form_widget(formMarchandise.prix) }}
						{{ form_errors(formMarchandise.prix) }}
					</div>
					<div>
						{{ form_label(formMarchandise.quantite) }}
						{{ form_widget(formMarchandise.quantite) }}
						{{ form_errors(formMarchandise.quantite) }}
					</div>
					<div>
						{{ form_label(formMarchandise.product) }}
						{{ form_widget(formMarchandise.product) }}
						{{ form_errors(formMarchandise.product) }}
					</div>
					<div>
						{{ form_widget(formMarchandise.submit) }}
					</div>
					{{ form_end(formMarchandise) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}

	<script>
		$('#divFormMarchandise').hide();

		$('#formCreateEvent').submit(function (e) {
			e.preventDefault();
			var form = $(this);
			var formData = new FormData(form[0]);

			$.ajax({
				url: "{{ path('add_booking') }}",
				data: formData,
				method: 'post',
                processData: false,
                contentType: false,
				success: function (response) {
					if (response.msg === 'ok'){
						$('#formCreateEventValidButton').remove();
						$('#commercebundle_evenement_date').prop('disabled', true);

//						TODO: Disable select
						$('#commercebundle_evenement_lieu').prop('disabled', true);

                        // Add id Evenement in div data
                        $('#divFormMarchandise').attr('data-idevenement', response.idEvenement);
                        // Show form marchandise
                        $('#divFormMarchandise').fadeIn();
					}
                }
			})
        });

		$('#formaddMarchandise').submit(function (e) {
			e.preventDefault();
			var idEvenement = $('#divFormMarchandise').data('idevenement');

			console.log(idEvenement);
            var form = $(this);
            var formData = new FormData(form[0]);
            $.ajax({
                url: "{{ path('add_marchandises') }}",
                data: formData,
                method: 'post',
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response.msg);
					alert(response.msg);
                }
            })
        })
	</script>

{% endblock %}