{% extends '@Core/layout.html.twig'%}
	
{% block title %}Page_Nous!{% endblock %}
	
{% block body %}
	<div id="nous">
	
		<div class="parallax-container">
			{#<div class="section header">
				<h2 class="header center teal-text text-lighten-2">Notre Permaculture et Nous</h2>
			</div>#}
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/pic1.jpg') }}" alt="Unsplashed background img 1">
			</div>
		</div>
		<!--   Section "La Permaculture"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre1 }}</h2>
					<p class="grey-text text-darken-3 lighten-3 content">{{ our.contenu1|nl2br }}</p>
					
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
						{{ form_start(form) }}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 darken-4 btn" href="#modal1">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal1" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row col l12">
								{{ form_row(form.titre1) }}
							</div>
							<div class="row col l12">
								{{ form_row(form.contenu1 , { 'attr': {'style':'width:625px', 'style':'height:600px'}} ) }}
							</div>
							<div class="row col s12">
								{{ form_row(form.picture1) }}
								{{ form_row(form.picture2) }}
								{{ form_row(form.picture3) }}
							</div>
						</div>
						<div class="modal-footer">
							{{ form_row(form.save_1, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					<img class=" center-align responsive-img z-depth-9" alt="picture1" src="{{ asset('uploads/images/' ~ our.picture1.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture2" src="{{ asset('uploads/images/' ~ our.picture2.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture3" src="{{ asset('uploads/images/' ~ our.picture3.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/pic2.jpg') }}" alt="Unsplashed background img 2">
			</div>
		</div>
		
		<!--   Section "Notre Histoire"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre2 }}</h2>
					<p class="grey-text text-darken-3 lighten-3">{{ our.contenu2|nl2br }}</p>
					
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 darken-4 btn" href="#modal2">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal2" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row col l12">
								{{ form_row(form.titre2) }}
							</div>
							<div class="row col l12">
								{{ form_row(form.contenu2 , { 'attr': {'style':'width:625px', 'style':'height:600px'}} ) }}
							</div>
							<div class="row col s12">
								{{ form_row(form.picture4) }}
								{{ form_row(form.picture5) }}
								{{ form_row(form.picture6) }}
							</div>
						</div>
						<div class="modal-footer">
							{{ form_row(form.save_2, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
					{% endif %}
				
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					
					<img class="center-align responsive-img" alt="picture4" src="{{ asset('uploads/images/' ~ our.picture4.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture5" src="{{ asset('uploads/images/' ~ our.picture5.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture6" src="{{ asset('uploads/images/' ~ our.picture6.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/pic2.jpg') }}" alt="Unsplashed background img 2">
			</div>
		</div>
		<!--   Section "Association"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre3 }}</h2>
					<p class="grey-text text-darken-3 lighten-3">{{ our.contenu3|nl2br }}</p>
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 darken-4 btn" href="#modal3">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal3" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row col l12">
								{{ form_row(form.titre3) }}
							</div>
							<div class="row col l12 ">
								{{ form_row(form.contenu3 , { 'attr': {'style':'width:625px', 'style':'height:625px'}} ) }}
							</div>
							<div class="row col s12">
								{{ form_row(form.picture7) }}
								{{ form_row(form.picture8) }}
								{{ form_row(form.picture9) }}
							</div>
						</div>
						<div class="modal-footer">
						{{ form_row(form.save_3, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
						{{ form_end(form) }}
					{% endif %}
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture7" src="{{ asset('uploads/images/' ~ our.picture7.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture8" src="{{ asset('uploads/images/' ~ our.picture8.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture9" src="{{ asset('uploads/images/' ~ our.picture9.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container valign-wrapper footer">
			<div class="section no-pad-bot">
				<div class="container">
					{#<div class="row center">
						<h5 class="header col s12 light">#</h5>
					</div>#}
				</div>
			</div>
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/pic4.jpg') }}" alt="Unsplashed background img 3">
			</div>
		</div>
	</div>
    {% include '@Core/pages/footer.html.twig' %}
	
{% endblock %}