{% extends '@Core/layout.html.twig'%}
	
{% block title %}Page_Nous!{% endblock %}
	
{% block body %}
	<div id="nous">
		<div class="parallax-container header_nous">
			{#<div class="section header">
				<h3 class="header center teal-text text-lighten-2">Nous</h3>
			</div>#}
			<div class="parallax">
				<img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499933291-dscf7911.jpg') }}" alt="Unsplashed background img 1" style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
		<!--   Section "La Permaculture"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre1 }}</h2>
					<p class="grey-text text-darken-3 lighten-3 content">{{ our.contenu1|nl2br }}</p>
					
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
						{{ form_start(form) }}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 waves-light btn" href="#modal1">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal1" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row">
								<div class="input-field col s12">
								{{ form_row(form.titre1) }}
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12">
									{{ form_label (form.contenu1) }}
									{{ form_widget (form.contenu1, {'attr': {'class': 'materialize-textarea' }}) }}
									{{ form_errors (form.contenu1) }}
								</div>
							</div>
							<div class="row col s12">
								{{ form_row(form.picture1) }}
								{{ form_row(form.picture2) }}
								{{ form_row(form.picture3) }}
							</div>
						</div>
						<div class="modal-footer">
							{{ form_row(form.save_1, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					<img class=" center-align responsive-img z-depth-9" alt="picture1" src="{{ asset('uploads/images/' ~ our.picture1.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture2" src="{{ asset('uploads/images/' ~ our.picture2.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture3" src="{{ asset('uploads/images/' ~ our.picture3.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container parallax_mid">
			<div class="parallax">
				<img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499933339-poppies.jpg') }}" alt="Unsplashed background img 2"  style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
		
		<!--   Section "Notre Histoire"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre2 }}</h2>
					<p class="grey-text text-darken-3 lighten-3">{{ our.contenu2|nl2br }}</p>
					
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 waves-light btn" href="#modal2">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal2" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row col s12">
								{{ form_row(form.titre2) }}
							</div>
							<div class="row">
								<div class="input-field col s12">
									{{ form_label (form.contenu2) }}
									{{ form_widget (form.contenu2, {'attr': {'class': 'materialize-textarea' }}) }}
									{{ form_errors (form.contenu2) }}
								</div>
							</div>
							<div class="row col s12">
								{{ form_row(form.picture4) }}
								{{ form_row(form.picture5) }}
								{{ form_row(form.picture6) }}
							</div>
						</div>
						<div class="modal-footer">
							{{ form_row(form.save_2, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
					{% endif %}
				
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					
					<img class="center-align responsive-img" alt="picture4" src="{{ asset('uploads/images/' ~ our.picture4.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture5" src="{{ asset('uploads/images/' ~ our.picture5.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture6" src="{{ asset('uploads/images/' ~ our.picture6.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container parallax_mid">
			<div class="parallax">
				<img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499933298-dscf8003.jpg') }}" alt="Unsplashed background img 2" style="min-width: 100vh;min-height: 100%;max-width: 100%;" class="parallax-img">
			</div>
		</div>
		<!--   Section "Association"   -->
		<div class="section white">
			<div class="row">
				<div class="col s10 offset-s1 center">
					<h2 class="title center teal-text text-lighten-2">{{ our.titre3 }}</h2>
					<p class="grey-text text-darken-3 lighten-3">{{ our.contenu3|nl2br }}</p>
					<!-- Template Admin -->
					{% if is_granted('ROLE_ADMIN') %}
					<!-- Modal Trigger -->
					<a class="modal-trigger waves-effect teal z-depth-5 waves-light btn" href="#modal3">Edition</a>
					
					<!-- Modal Structure -->
					<div id="modal3" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row col s12">
								{{ form_row(form.titre3) }}
							</div>
							<div class="row col s12 ">
								{{ form_label (form.contenu3) }}
								{{ form_widget (form.contenu3, {'attr': {'class': 'materialize-textarea' }}) }}
								{{ form_errors (form.contenu3) }}
							</div>
							<div class="row col s12">
								{{ form_row(form.picture7) }}
								{{ form_row(form.picture8) }}
								{{ form_row(form.picture9) }}
							</div>
						</div>
						<div class="modal-footer">
						{{ form_row(form.save_3, {'attr': {'class': 'btn btn-primary'}}) }}
						</div>
					</div>
						{{ form_end(form) }}
					{% endif %}
				</div>
			</div>
			
			<div class="row pics">
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture7" src="{{ asset('uploads/images/' ~ our.picture7.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture8" src="{{ asset('uploads/images/' ~ our.picture8.src ) }}">
				</div>
				<div class="center-align col s12 m6 l4 img_box">
					<img class="center-align responsive-img" alt="picture9" src="{{ asset('uploads/images/' ~ our.picture9.src ) }}">
				</div>
			</div>
		</div>
		<!--Parallax-container-->
		<div class="parallax-container valign-wrapper footer">
			<div class="parallax">
				<img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499933642-img-5880.jpg') }}" alt="Unsplashed background img 1"  style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
	</div>
    {% include '@Core/pages/footer.html.twig' %}
{% endblock %}