{% extends '@Core/layout.html.twig' %}

{% block body %}
	<div id="booking">
		<div class="container">
			<div class="row">
				{{ form_start(formUser) }}
				
				<div class="row">
					<h4 class="col s2">Date</h4>
					<p class="col s6">{{ evenement.date|date("d/m/Y") }}</p>
				</div>
				
				<div>
					<h4>Lieu</h4>
					{{ evenement.nom }}<br>
					{{ evenement.adresse }}<br>
					{{ evenement.indication }}
				</div>
				<table>
					<thead>
					<tr>
						<th>
							Produits
						</th>
						<th>
							Prix/Grammes
						</th>
						<th>
							Quantité
						</th>
					</tr>
					</thead>
					<tbody>
					{% for key, marchandise in marchandise %}
						<tr>
							<td>{{ marchandise.product.name }}</td>
							<td>{{ marchandise.prix }}</td>
							<td>{{ marchandise.quantite }}</td>
							<td>
								{{ form_widget(formUser.selectProduits[key].quantiteCommande) }}
							</td>
						</tr>

					{% endfor %}
					</tbody>
				</table>
				
				<div class="row">
					<div class="col m6">
						{{ form_row(formUser.nom) }}
					</div>
					<div class="col m6">
						{{ form_row(formUser.prenom) }}
					</div>
					<div>
						{{ form_row(formUser.submit) }}
					</div>
				</div>
				{{ form_end(formUser) }}
			</div>
		</div>
	</div>

{% endblock %}