{% extends '@Core/layout.html.twig' %}

{% block body %}
	<div id="booking">
		<div class="parallax-container">
			<div class="parallax"><img src="{{ asset('bundles/core/img/background/topparalax.jpg') }}" style="min-width: 100vh;min-height: 100%;max-width: 100%;"></div>
			<div class="section header">
				<h3 class="header center title">Vente du {{ evenement.date }}</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				{{ form_start(formUser) }}
				<div class="info_content">
					<h4 class="text_perso center-align place">{{ evenement.nom }}</h4><br>
					<span class="p_center">{{ evenement.adresse }}</span><br>
					<span class="p_center">{{ evenement.indication }}</span>
				</div>
				<table class="col m10 offset-m1 centered responsive-table">
					<thead>
					<tr>
						<th class="col m4 col_table">
							Produits
						</th>
						<th class="col m2 col_table">
							Prix
						</th>
						<th class="col m2 col_table">
							Quantité*
						</th>
						<th class="col m2 col_table">
							Unité
						</th>
						<th class="col m2 col_table">
						</th>
					</tr>
					</thead>
					<tbody>
					{% for name, categorie in categories %}
						
						<tr class="grey">
							<td colspan="5">{{ name }}</td>
						</tr>
						
						{% for key, marchandise in categorie %}
							<tr>
								<td class="col m4 col_table"><a href="{{ path('product') }}#{{ marchandise.product.id }}">{{ marchandise.product.name }}</a> </td>
								<td class="col m2 col_table">{{ marchandise.prix }}</td>
								<td class="col m2 col_table">{{ marchandise.quantite }}</td>
								<td class="col m2 col_table">{{ marchandise.unite }}</td>
								<td class="col m2 col_table">
									{% if marchandise.quantite > 0 %}
										{{ form_widget(formUser.selectProduits[key].quantiteCommande, {'attr': {'max': marchandise.quantite, 'min': 0 }}) }}
									{% else %}
										Epuisé
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					{% endfor %}
					</tbody>
				
				</table>
				<div class="row">
					<div class="col m6">
						{{ form_row(formUser.nom) }}
					</div>
					<div class="col m6">
						{{ form_row(formUser.prenom) }}
					</div>
					<div>
						<span class="center-align col m12">{{ form_row(formUser.submit, {'attr': {'class': 'btn btn-primary waves-effect waves-light'}}) }}</span>
					</div>
				</div>
				{{ form_end(formUser) }}
			</div>
		</div>
		<div class="parallax-container parallax_booking">
			<div class="parallax">
				<img src="{{ asset('bundles/core/img/background/paralaxviewevenementbottom.jpg') }}" alt="Unsplashed background img 2" style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
		{% include '@Core/pages/footer.html.twig' %}
	</div>

{% endblock %}