<div class="modal-content">
	{{ form_start(form) }}
	
	<div class="input-field col s12">
		{{ form_widget(form.title, {'attr': {'placeholder': 'Votre Titre' }}) }}
		{{ form_errors(form.title) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.description, {'attr': {'class': 'materialize-textarea', 'placeholder':'Votre Description' }}) }}
		{{ form_errors(form.description) }}
	</div>
	<div class="form_add col s6">
		{{ form_row(form.dateStart,{'attr':{'class':'datepicker','placeholder': 'Cliquez pour Ouvrir'}}) }}
		{{ form_errors(form.dateStart) }}
	</div>
	<div class="form_add col s6">
		{{ form_row(form.dateEnd,{'attr':{'class':'datepicker','placeholder': 'Cliquez pour Ouvrir'}}) }}
		{{ form_errors(form.dateEnd) }}
	</div>
	<div class="form_add col s12">
		{{ form_widget(form.activite) }}
		{{ form_errors(form.activite) }}
	</div>
	<div class="form_add col s12">
		{{ form_widget(form.price, {'attr': {'class': 'materialize-textarea', 'placeholder':'Prix'}}) }}
		{{ form_errors(form.price) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.lien, {'attr': {'class': 'materialize-textarea', 'placeholder':'Lien' }}) }}
		{{ form_errors(form.lien) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.location, {'attr': {'class': 'materialize-textarea', 'placeholder':'Lieu' }}) }}
		{{ form_errors(form.location) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.picture.file) }}
		{{ form_errors(form.picture.file) }}
	</div>
	<div class="row">
		<div class="input-field col s12">
			{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
		</div>
		{{ form_end((form))}}
	</div>
</div>

{% block javascripts %}
	<script>
        $( document ).ready(function() {
            $('.datepicker').pickadate({
                selectMonths: true,//Creates a dropdown to control month
                selectYears: 15,//Creates a dropdown of 15 years to control year
                //The title label to use for the month nav buttons
                labelMonthNext: 'Next Month',
                labelMonthPrev: 'Last Month',
                //The title label to use for the dropdown selectors
                labelMonthSelect: 'Select Month',
                labelYearSelect: 'Select Year',
                //Months and weekdays
                monthsFull: [ 'January', 'February', 'March', 'April', 'March', 'June', 'July', 'August', 'September', 'October', 'November', 'December' ],
                monthsShort: [ 'Jan', 'Feb', 'Mar', 'Apr', 'Mar', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ],
                weekdaysFull: [ 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday' ],
                weekdaysShort: [ 'Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat' ],
                //Materialize modified
                weekdaysLetter: [ 'S', 'M', 'T', 'W', 'T', 'F', 'S' ],
                //Today and clear
                today: 'Today',
                clear: 'Clear',
                close: 'Close',
                //The format to show on the `input` element
                format: 'dd/mm/yyyy'
            })
        });
	
	</script>
{% endblock %}
