<div class="modal-content">
	{{ form_start(form) }}
	
	<div class="input-field col s12">
		{{ form_widget(form.title) }}
		{{ form_errors(form.title) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.description, {'attr': {'class': 'materialize-textarea' }}) }}
		{{ form_errors(form.description) }}
	</div>
	<div class="form_add col s6">
		{{ form_row(form.dateStart,{'attr':{'class':'datepicker','placeholder': 'Clicker pour Ouvrir'}}) }}
		{{ form_errors(form.dateStart) }}
	</div>
	<div class="form_add col s6">
		{{ form_row(form.dateEnd,{'attr':{'class':'datepicker','placeholder': 'Clicker pour Ouvrir'}}) }}
		{{ form_errors(form.dateEnd) }}
	</div>
	<div class="form_add col s12">
		{{ form_widget(form.activite) }}
		{{ form_errors(form.activite) }}
	</div>
	<div class="form_add col s12">
		{{ form_widget(form.price, {'attr': {'class': 'materialize-textarea' }}) }}
		{{ form_errors(form.price) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.lien, {'attr': {'class': 'materialize-textarea' }}) }}
		{{ form_errors(form.lien) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.location) }}
		{{ form_errors(form.location) }}
	</div>
	<div class="input-field col s12">
		{{ form_widget(form.picture.file, {'attr': {'required': 'true' }}) }}
		{{ form_errors(form.picture.file) }}
	</div>
	<div class="row">
		<div class="input-field col s12">
			{{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
		</div>
		{{ form_end((form))}}
	</div>
</div>