{% for evenement in evenements %}
	
	{{ evenement.date|date("d/m/Y") }}
	{{ evenement.lieu.nom }}
	{{ evenement.lieu.adresse }}
	{{ evenement.lieu.indication }}
	<a href="{{ path('booking', { 'id': evenement.id }) }}">voir</a>
	<a href="{{ path('recap_booking', { 'id': evenement.id }) }}">Recapitulatif Commande</a>
{% endfor %}