{{ dump(recap) }}
{#{% for test in recap %}#}

    {#{{ test.nom }}#}
    {#{{ test.prenom }}#}

    {#{% for produit in test %}#}
        {#{{ produit.selectProduits }}#}
    {#{% endfor %}#}

{#{% endfor %}#}

<table>
    <thead>
    <tr>
        <th></th>
        {% for recap in recap %}
        <th>{{ recap.nom }}, {{ recap.prenom }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {#{% for produit in recap.product %}#}
            <tr>
                <td>{{  }}</td>
                {#{% for qtte in recap %}#}
                    <td>{{  }}</td>
                {#{% endfor %}#}
            </tr>
        {#{% endfor %}#}
    </tbody>
</table>