
{{ panier.nom }}
{{ panier.prenom }}

{% for prod in panier.selectProduit %}

	{{ prod.quantiteCommande }}
	{{ prod.prixTotal }}

{% endfor %}
<a href="{{ path('valid_booking', { 'id': evenement.id }) }}">Validation</a>

