{% extends "@Core/layout.html.twig" %}

{% block body %}
	<div id="booking">
		<div class="parallax-container">
			<div class="parallax"><img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499933394-dscf7911.jpg') }}" style="min-width: 100vh;min-height: 100%;max-width: 100%;"></div>
			<div class="section header">
				<h3 class="header center title">{{ panier.nom }} {{ panier.prenom }}</h3>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<table class="col m10 offset-m1 striped responsive-table">
					<thead>
					<tr>
						<th>Produits</th>
						<th>Quantité</th>
						<th>Prix</th>
					</tr>
					</thead>
					<tbody>
					{% for prod in panier.selectProduit %}
						<tr>
							<td>{{ prod.name }}</td>
							<td>{{ prod.quantiteCommande }}</td>
							<td>{{ prod.prixTotal }} €</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			<div class="row">
				<div class="col m2 offset-m5">
					<a href="{{ path('valid_booking', { 'id': evenement.id }) }}" class="btn waves-effect waves-light">Validation</a>
				</div>
			</div>
		</div>
		<div class="parallax-container parallax_booking">
			<div class="parallax">
				<img src="{{ asset('https://image.noelshack.com/fichiers/2017/28/4/1499937827-dscf5112.jpg') }}" alt="Unsplashed background img 2" style="min-width: 100vh;min-height: 100%;max-width: 100%;">
			</div>
		</div>
		{% include '@Core/pages/footer.html.twig' %}
	</div>
{% endblock %}
