{% extends '@Core/layout.html.twig' %}

{% block body %}

<div id="blog">
    <div class="parallax-container">
        <div class="row">
            <h1 class="col s12 center title">Fil d'actu</h1>
            {% if is_granted('ROLE_ADMIN') %}
            <!-- Modal Trigger -->
            <a class="col s2 offset-s5 waves-effect waves-light btn" href="#modal1">Ajouter une Actu</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    {{ form_start(form) }}

                    <div class="form_add">
                        {{ form_label(form.titre) }}
                        {{ form_widget(form.titre) }}
                        {{ form_errors(form.titre) }}
                    </div>
                    <div class="form_add">
                        {{ form_label(form.contenu) }}
                        {{ form_widget(form.contenu) }}
                        {{ form_errors(form.contenu) }}
                    </div>
                    <div class="form_add">
                        {{ form_label(form.date) }}
                        {{ form_widget(form.date) }}
                        {{ form_errors(form.date) }}
                    </div>
                    <div class="form_add">
                        {{ form_widget(form.submit, { 'label': 'Valider' }) }}
                    </div>

                    {{ form_end(form) }}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="parallax"><img src="{{ asset('bundles/core/img/background/pic1.jpg') }}"></div>
    </div>
    <div class="container container_custom">
        <div class="row">

    {% for articles in articles %}
            {% set i = i + 1 %}

            <div class="col s12 m6 l6 card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ asset('bundles/core/img/background/pic3.jpg') }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ articles.titre }}<i class="material-icons right">add</i></span>
                    <p><a href="#">{{ articles.date|date("d/m/Y") }}</a></p>
                    <div class="row">
                        <!-- Modal Trigger -->
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="col s4 offset-s1 waves-effect waves-light btn" href="#modal4">Modifier</a>
                        {% endif %}

                        <!-- Modal Structure -->
                        <div id="modal4" class="modal">
                            <div class="modal-content">
                                <h4>Modal Header</h4>
                                <p>A bunch of text</p>
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                            </div>
                        </div>
                        <!-- Modal Trigger -->
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="col s4 offset-s2 waves-effect waves-light btn">Effacer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>{{ articles.contenu }}</p>
                </div>
            </div>
        {% if i is even %}
            </div> <!-- close row -->
        {% endif %}
        {% if i is even %}
        </div> <!-- close container -->
        {% endif %}
                {% if i is even %}
                    <div class="parallax-container">
                        <div class="parallax"><img src="{{ asset('bundles/core/img/background/pic3.jpg') }}"></div>
                    </div>
                {% endif %}
        {% if i is even %}
        <div class="container container_custom">
        {% endif %}
            {% if i is even %}
            <div class="row">
            {% endif %}
            {% endfor %}

    </div>



</div>

{% endblock %}