<div class="modal-content">
    {{ form_start(form) }}

    <div class="form_add">
        {{ form_label(form.titre) }}
        {{ form_widget(form.titre) }}
        {{ form_errors(form.titre) }}
    </div>
    <div class="form_add">
        {{ form_label(form.contenu) }}
        {{ form_widget(form.contenu, {'attr': {'class': 'materialize-textarea' }} ) }}
        {{ form_errors(form.contenu) }}
    </div>
    <div class="form_add center-align">
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
    </div>

    {{ form_end(form) }}
</div>